.download-info{
  max-width: 100%;
  min-height: 40%;
  position: relative;
  font-size: 12px;
  color: #ffffff;
  padding-left: 25%;
}

.download-info img{
  width: 10px;  
  height: 10px;
  float: left;
  padding-left: 40px;
  padding-right: 40px;
}