body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: black;
  padding: 0;
  margin: 0;
}

/* Global */
.container{
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main */
.main{
  background: url('./img/bg.jpg') no-repeat;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
}

/* Header */
#logo{
  width: 100%;
}
#logo img{
  width: 120px;
  height: 70px;
  padding-top: 20px;
  float: left;
}

#badge img{
  width: 120px;
  height: 100px;
  padding-top: 0;
  float: right;
}

#title{
  text-align: center;
  color: #ffffff;  
}

#title h1{
  margin-top: 10px;
  margin: 0;
  font-size: 26px;
  line-height: 10px;
}

#title p{
  font-size: 20px;
  margin: 0;
}

#title .header{
  margin-top: 10px;
}


/* Showcase */
#showcase{
  z-index: 0;
}

#showcase .img_bundle1{
  text-align: center;
}

#showcase .img_bottom{
  margin-top: 20px;
  position: relative;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, .1);
}

/* Action */
#action {
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  /* background-color: aquamarine; */
}

#action .box{
  padding-top: 14%; 
}

#action .image_free{
  position: absolute;
  top: 0;
  left: 54%;
  margin-bottom: 50px;

}

#action button{
  background: green;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
}

#action .instruction{
  width: 60%;
  float: left;
}

#action .countdown{
  color: orange;
  font-size: 28px;
}

#action img{
  height: 60px;
  width: 60px;
  float: left;
}

/* Clean */
#clean{
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: grey;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

#clean button{
  background: green;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
}



.modal{
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 70%;
  min-height: 70%;
  margin: 25% auto;
  margin-bottom: 5%;
  padding: 30px auto;
  position: relative;
}

/* .list2{
  max-width: 100%;
  min-height: 40%;
  position: relative;
  font-size: 12px;
  color: #ffffff;
  padding-left: 15%;
}

.list2 img{
  height: 60px;
  width: 60px;
  float: left;
  padding-left: 40px;
  padding-right: 40px;

} */

.gift{
  position: absolute;
  text-align: center;
}

.gift img{
  width: 190px;
  height: 150px;
}

#register .modal-body{
  padding-left: 30px;
  padding-right: 30px;
  min-height: 150px;
  padding-bottom: 20px;
}

#register .modal-footer{
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

#register p{
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 30px;
}

#register label{
  font-size: small;
  font-weight: bold;
}

#register input[type=text]{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left-style: none;
  box-sizing: border-box;
  background-color: #ffffff;
}

#register .input-container{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

#register .icon{
  padding: 5px;
  background-image: url('./img/flag.png');
  background-size: 25px 15px; 
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-color: rgb(233, 233, 233);
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-style: none;
  color: white;
  min-width: 35px;
  text-align: center;
}

#register button{
  background: green;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
}